.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background {
    width: 80vw;
    height: 100vh;
    max-width: 600px;
    max-height: 600px;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}